@font-face {
    font-family: 'captain';
    src: url('American Captain.ttf') format('truetype');
}

/* Corpo normal do site */
body {
    background-image: url(fundo.jpg);
        background-color: rgb(59, 8, 141);
    color: white;
    font-size: 15px;
    margin: 100px 40px 10px 10px;
    font-family: Arial, sans-serif; /* fonte padrão */
}

/* Só o nome muda a fonte */
.nome {
    font-family: 'Arial, sans-serif;'
    font-size: 45px;
}

/* Mantém a foto redonda */
.img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}
a {
    color: rgb(219, 209, 235);
    text-decoration:none;
    font-size: 22px;
}
img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center top;
    transform: scale(1.1);
    object-position: 100% 20%;
}
.informacoes {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  padding: 25px;
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 15px rgba(168, 85, 247, 0.3);
  margin: 3px auto;
  max-width: 440px;
}